body {
    
      font-family: "Host Grotesk", sans-serif;
      font-optical-sizing: auto;
      font-style: normal;
    }


/* Página principal*/

div.titulo {
    background-color: #5dc584;
    text-align: center;
    font-size: large;
}

header {
    text-align: center;

}

.logo {
    width: 15rem;
    height: 15rem;
    text-align: center;
}


body {
    background-color: lightgray;
}

.todo-sobre-fracciones {
    color: black;
    text-align: center;
    text-decoration: solid;
    /*font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif*/
}

a {
    font-size: medium;
}

.enlaces:hover {
    background-color: gray;
    opacity: 0.7;
}

.enlaces {
    display: flex;
    flex-direction: column;
}

.enlaces:visited {
    color: blue;
}

.presentacion {
    text-align: center;
    /*font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;*/
}

.video-definicion {
    width: 100%;
    height: auto;
}

.imagenes {
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-items: center;
}

.img1,
.img2 {
    margin: auto;
}

.img {
    width: 15rem;
    height: 15rem;
    margin: auto;
}

@media (min-width:1024px) {

    .enlaces {
        display: flex;
        flex-direction: row;
    }

    .introduccion {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .video-definicion {
        width: 75%;
        height: auto;
        margin: auto;
    }

    .imagenes {
        display: flex;
        flex-direction: row;
        padding-left: 20PX;
    }
}


/* Menu de navegación */

.Menu {
    background-color: #5dc584;
}

.Menu ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 10px;
    justify-content: space-evenly;
}

.Menu a {
    justify-content: space-evenly;
    color: black;
    text-decoration: none;
    /*font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;*/
}


.images {
    display: flex;
}

.img-home {
    width: 35px;
    height: 35px;
}


/* Subtítulos de todas las secciones */

.h2-clasificacion,
.equivalentes,
.h2-sumayresta,
.h2-multydiv {
    text-align: center;
    text-decoration: underline;
    /*font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;*/
    font-size: 200%;
}

footer {
    text-align: center;
}

/*footer*/

.grid-container-footer {
    display: grid;
    grid-template-areas:
        "img p a";
    align-items: center;
    justify-items: center;
    /*font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;*/
    padding-top: 15px;
    margin-top: 15px;
    border-top: 1px solid black;
}

.p-footer {
    grid-area: p;
}

.img-footer {
    grid-area: img;
    width: 60px;
    height: 50px;
}

.a-footer {
    grid-area: a;

}

/* Página de contacto */

h1 {
    color: black;
    text-align: center;
    /*text-decoration: solid;*/
    /*font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif*/
}

.consulta {
    /*color: black;*/
    text-align: justify;
    font-family: "Host Grotesk", sans-serif;
    /*font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;*/
}

.formulario {
    display: flex;
    flex-direction: column;
    background-color: #5dc584;
    border-radius: 15px;
    padding: 5px;
}

label {
    /*font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;*/
    margin-left: 5px;
    margin-right: 5px;
    ;
}

input {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 80%;
    margin-left: 5px;
    margin-right: 5px;
}

#mensaje {
    padding-bottom: 10px;
    padding-top: 10px;
    height: 50px;
}

.boton {
    display: flex;
    justify-content: end;
    padding: 5px;
}

/* Clasificación de fracciones*/

.img-clasificacion {
    display: flex;
    padding: 20px;
    width: 100%;
    height: auto;
}

.img-c {
    width: 100%;
    height: auto;
    justify-items: center;
}

.definiciones {
    display: flex;
    padding: 20px;
    justify-content: center;
    /*font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;*/


}

.img-propia,
.img-impropia,
.img-aparente,
.img-mixta {
    width: 50%;
    height: auto;
    margin: auto;
}

@media (min-width: 1024px) {

    .img-c {
        width: 50%;
        margin: auto;
    }

    .grid-container-clasificacion {
        display: grid;
        grid-template-areas:
            "img1 p1"
            "img2 p2"
            "img3 p3"
            "img4 p4";
        justify-items: center;
        align-items: center;
        row-gap: 40px;
    }

    .img-propia,
    .img-impropia,
    .img-aparente,
    .img-mixta {
        width: 50%;
        height: 300px;
        margin: auto;
    }

    .p-propia,
    .p-impropia,
    .p-aparente,
    .p-mixta {
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 100px;
        align-items: center;
    }

    .img-propia {
        grid-area: img1;
    }

    .p-propia {
        grid-area: p1;
    }

    .img-impropia {
        grid-area: img2;
    }

    .p-impropia {
        grid-area: p2;
    }

    .img-aparente {
        grid-area: img3;
    }

    .p-aparente {
        grid-area: p3;
        text-align: center;
    }

    .img-mixta {
        grid-area: img4;
    }

    .p-mixta {
        grid-area: p4;
    }
}

/*Fracciones equivalentes*/

.definicion-equivalentes h2,
.metodo-equivalentes h2,
.como-encontrar-equivalentes h2 {
    /*font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;*/
    text-align: center;
}

.definicion-equivalentes,
.metodo-equivalentes,
.como-encontrar-equivalentes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px;
    text-align: center;
}

.ej-equivalente {
    width: 100%;
    height: auto;
}

.amplificando {
    width: 100%;
    margin: auto;
}

.simplificando {
    width: 100%;
    margin: auto;
}

.metodo-equivalentes div {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.como-encontrar-equivalentes h4 {
    text-align: center;
    /*font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;*/
    font-size: x-large;
    text-decoration: solid;
    padding: 10px;
}

.como-encontrar-equivalentes div {
    display: flex;
    justify-content: center;
    padding: 20px;
}


@media (min-width: 1024px) {

    h2 {
        font-size: xx-large;
    }

    p {
        font-size: large;
    }

    .ej-equivalente {
        width: 50%;
        height: auto;
    }

    h3 {
        font-size: x-large;
    }

    .amplificando,
    .simplificando {

        width: 50%;
        height: auto;
    }
}